@import 'fonts-include/manrope.scss';
@import 'fonts-include/_poppins.scss';
@import '_easyRadioCheck.scss';

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: $ff;
}

body{
	background: radial-gradient(73.19% 16.44% at 80.9% 16.77%, #444444 0%, rgba(68, 68, 68, 0) 100%), #252525;
	overflow-x: hidden;
}
a{
	text-decoration: none;
	outline: none;
}

button{
	font-family: inherit;
	border: none;
	background: transparent;
	outline: none;
}

input{
	font-family: inherit;
	border: none;
	background: #fff;
	outline: none;
}

address{
	font-style: normal;
}

.hero{
	width: 100%;
	height: 100vh;

	background-color: #000;
	display: flex;
	justify-content: center;
	position: relative;


	padding: 0 30px;
}

.video-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	video{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.logo{
	position: absolute ;
	top: 50px;
	left: 0;
}


.hero__inner{
	width: 100%;
	max-width: 1200px;
	position: relative;
}
.timer__seconds{
	width: 85px;
}
.timer{
	width: 660px;
	height: 300px;
	
	position: relative;
	backdrop-filter: blur(20px);
	background: rgba(0, 0, 0, 0.28);
	z-index: 0;
	border-radius:  0 0 85px 85px;
	margin: 0 auto 0;
	transform: translateY(-50%);
}
.timer-wrap{
	position: absolute;
	width: calc(100% + 8px);
	height: 100%;
	top: 4px;
	left: -4px;
}
.timer__inner{
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 5px;
	right: 2px;
	padding: 17px 110px 25px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}


.timer__day-count{
	
}

.timer__count-num{
	font-family: $ff;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 68px;
	text-align: center;
	margin-bottom: 5px;
	background: linear-gradient(100.84deg, #CD9E5E 19.06%, #CD9E5E 31.26%, #FFC984 47.27%, #CD9E5E 99.89%, #E6AB60 131.15%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.timer__count-label{
	font-family: $ff;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	text-align: center;
	color: rgba(245, 245, 245, 0.55);


}


.cblock{
	width: 100%;
	min-height: 165px;
	position: absolute;
	bottom: 30px;

	
}
.cblock__inner{
	width: 100%;
	height: 100%;
	min-height: 165px;
	padding: 30px 35px 20px 40px;
	backdrop-filter: blur(20px);
	background: rgba(0, 0, 0, 0.28);
	display: flex;
	border-radius: 75px;
	position: relative;
	z-index: 10;
}
.form-wrap {
	width: calc(100% + 8px);
	height: calc(100% + 8px);
	position: absolute;
	z-index: 5;
	top: -4px;
	left: -4px;
}

.form{
	padding-left: 40px;
	display: flex;
}

.form__col-1{
	margin-right: 40px;
}

.form__col-2{
	width: 100%;
	max-width: 310px;
}

.form__row{
	display: flex;
	justify-content: space-between;
	.form__iwrap{
		max-width: 200px;
		&:first-of-type{
			margin-right: 24px;
		}
	}

	margin-bottom: 16px;
}





.form__iwrap{
	width: 100%;
	
}

.form__tinput{
	width: 100%;
	height: 36px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 15px;	
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	text-transform: capitalize;
	color: #ADADAD;
	padding: 0 20px;

	&::placeholder{
		opacity: 1;
	}
}

.form__send{
	font-family: $ff;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.015em;
	text-transform: uppercase;
	width: 100%;
	height: 44px;
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	cursor: pointer;
	background: linear-gradient(90.92deg, #8F653B 0.36%, #EEBC70 66.93%, #8F653B 102.62%);
	border-radius: 15px;
	margin-top: 14px;

}
.cblock__stats{
	display: flex;
}
.cblock__stats--item{
	&:first-of-type{
		width: 145px;
	}

	&:last-of-type{
		width: 135px;
	}
}

.cblock__stats--num{
	font-family: $ff;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 8px;
	background: linear-gradient(100.84deg, #CD9E5E 19.06%, #CD9E5E 31.26%, #FFC984 47.27%, #CD9E5E 99.89%, #E6AB60 131.15%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cblock__stats--text{	
	font-family: $ff;
	font-style: normal;
	font-weight: 500;
	font-size: 8px;
	line-height: 11px;
	background: linear-gradient(100.84deg, #CD9E5E 19.06%, #CD9E5E 31.26%, #FFC984 47.27%, #CD9E5E 99.89%, #E6AB60 131.15%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sound-btn{
	width: 24px;
	height: 24px;
	background-image: url('../img/sound.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateX(-50%);
}

.about{
	padding: 80px 30px;
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	
}
.about-round{
	position: absolute;
	left: 0;
	top: 110px;
}

.about-star{
	position: absolute;
	right: 0;
	transform: translateX(50%);
}


.about__inner{
	width: 100%;
	max-width: 1200px;
}

.about__title{
	
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 65px;
	text-align: center;
	margin-bottom: 8px;
	font-family: $ff;
	background: linear-gradient(100.84deg, #CD9E5E 19.06%, #CD9E5E 31.26%, #FFC984 47.27%, #CD9E5E 99.89%, #E6AB60 131.15%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about__text-block{
	margin: 48px 0;
}

.about__subtitle{
	font-family: $ff;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 152.95%;
	text-align: center;
	max-width: 510px;
	color: #FFFFFF;
	margin: 0 auto 16px;
}

.about__text{
	font-family: $ff;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 169.95%;

	/* or 34px */
	text-align: center;

	color: #FFFFFF;
}


.results{
	display: flex;
	justify-content: space-evenly;
}

.results__item{
	margin: 0 10px;
}

.results__nums{
	text-align: center;

	font-weight: 800;
	font-size: 56px;
	line-height: 76px;

	font-family: $ff;
	background: linear-gradient(100.84deg, #CD9E5E 19.06%, #CD9E5E 31.26%, #FFC984 47.27%, #CD9E5E 99.89%, #E6AB60 131.15%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.results__text{
	font-family: $ff;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;
}


.s-cards{
	padding: 36px 30px 80px;
	display: flex;
	justify-content: center;
	position: relative;

}
.s-cards__round-star{
	position: absolute;
	bottom: 10%;
	left: 30%;
}
.s-cards__inner{
	width: 100%;
	max-width: 1200px;

	position: relative;
	z-index: 5;
}

.cards{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px;
}

.card{
	padding: 50px 5px 70px;
	display: flex;
	justify-content: center;
	position: relative;

	background: rgba(0, 0, 0, 0.18);
	backdrop-filter: blur(10px);

	/* Note: backdrop-filter has minimal browser support */
	border-radius: 10px;


}

.card__inner{
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.card__title{
	padding: 11px 66px;
	position: relative;
	margin: 0 auto 40px;
	display: inline-block;
	
	
	background: rgba(0, 0, 0, 0.18);
	backdrop-filter: blur(10px);
	border-radius: 85px;
}

.card__title--wrap{
	position: absolute;
	left: -5px;
	top: -5px;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
}



.card__title--text{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;

	/* identical to box height */
	text-transform: uppercase;
	text-align: center;
	background: linear-gradient(100.84deg, #CD9E5E 19.06%, #CD9E5E 31.26%, #FFC984 47.27%, #CD9E5E 99.89%, #E6AB60 131.15%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__list{
	list-style: none;
	max-width: 290px;
	li{
		font-family: $ff;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 169.95%;
		letter-spacing: -0.01em;

		color: #FFFFFF;


		margin-bottom: 24px;

		&:last-of-type{
			margin-bottom: 0;
		}
	}
}

.card-wrap{
	position: absolute;

	width: calc(100% + 10px);
	height: calc(100% + 10px);
	top: -5px;
	left: -5px;
}

.s-contacts{
	padding: 36px 30px 48px;
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 5;
}

.s-contacts__inner{
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 1200px;
}

.contacts{
	width: 100%;
	max-width: 548px;
	display: flex;
	justify-content: space-between;
	list-style: none;
}


.contscts__item{
	margin: 0 15px;

	&:first-of-type{
		margin-left: 0;
	}

	&:last-of-type{
		margin-right: 0;
	}
}

.contacts__item--title{
	
	font-family: 'Poppins';
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 169.95%;

	/* identical to box height, or 17px */
	text-transform: uppercase;
	text-align: center;
	color: rgba(255, 255, 255, 0.4);


}

.contacts__item--link{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 169.95%;

	/* identical to box height, or 17px */
	text-decoration-line: underline;
	text-transform: uppercase;

	color: #FFFFFF;
}


.footer{
	display: flex;
	justify-content: center;
	padding: 0 30px 28px;
	position: relative;
}


.footer-star{
	position: absolute;
	bottom: 0px;
	left: 0;
	z-index: 1;
}

.footer-round{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.footer__inner{
	width: 100%;
	max-width: 1200px;
	display: flex;
	align-items: center;
	padding-bottom: 32px;
	position: relative;
	z-index: 5;
}

.footer__title{	
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 100;
	font-size: 23px;
	line-height: 34px;
	text-align: center;
	flex-shrink: 0;
	text-transform: uppercase;
	text-align: center;
	background: linear-gradient(100.84deg, #CD9E5E 19.06%, #CD9E5E 31.26%, #FFC984 47.27%, #CD9E5E 99.89%, #E6AB60 131.15%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 0 15px;
}

.footer__line{
	flex-grow: 1;
	height: 1px;
	background: linear-gradient(89.97deg, #8F653B -57.04%, #EEBC70 72.01%, #8F653B 141.18%);
}